{% extends 'global/base.html' %}

{% block content %}
  <div class="container mt-5">
    <div class="row">
      <div class="col-md-12">
        <h3>Detalhes do Pedido #{{ venda.id }}</h3>
        <p class="text-muted">Realizado em: {{ venda.data|date:'d/m/Y' }}</p>
        <hr />
      </div>
    </div>

    <div class="row">
      <div class="col-md-8">
        <h5>Itens</h5>
        <table class="table">
          <thead>
            <tr>
              <th>Produto</th>
              <th>Imagem</th>
              <th>Qtde</th>
              <th>Preço</th>
              <th>Subtotal</th>
            </tr>
          </thead>
          <tbody>
            {% for item in itens %}
              <tr>
                <td>{{ item.produto.nome }}</td>
                <td>
                  {% if item.produto.imagem %}
                    <img src="{{ item.produto.imagem.url }}" alt="{{ item.produto.nome }}" width="50" class="ms-2" />
                  {% endif %}
                </td>
                <td>{{ item.qtde }}</td>
                <td>{{ item.produto.preco }}</td>
                <td>{{ item.subtotal }}</td>
              </tr>
            {% endfor %}
          </tbody>
          <tfoot>
            <tr>
              <th colspan="4" class="text-end">Total Geral:</th>
              <th>R$ {{ venda.total }}</th>
            </tr>
          </tfoot>
        </table>
        <a href="{% url 'urlhistorico' %}" class="btn btn-secondary">Voltar ao Histórico</a>
      </div>

      <div class="col-md-4">
        <div class="card bg-light">
            <div class="card-body">
                <h5>Endereço de Entrega</h5>
                {% if perfil %}
                    <p class="card-text">
                        <strong>{{ perfil.cliente.fisrt_name }} {{ perfil.cliente.last_name }}</strong><br>
                        {{ perfil.rua }}, {{ perfil.numero }} {{ perfil.complemento }} <br>
                        {{ perfil.bairro }} <br>
                        {{ perfil.cidade }} - {{ perfil.cep }} <br>
                        Tel. {{ perfil.telefone }}
                    </p>
                {% endif %}
                <hr />
                <h5 class="card-title">Status</h5>
                <p class="card-text text-success fw-bold">{{ venda.get_status_display }}</p>

            </div>
        </div>
      </div>

    </div>
  </div>
{% endblock %}
